.MessagePersonRoomMember1 {
  display: flex;
  justify-content: space-between;
}

.MessagePersonRoomMember11 {
  width: 35%;
}

.MessagePersonRoomMember11-roommemberlist {
  height: 500px;
  /* Chiều cao cố định */
  overflow-y: auto;
  /* Kích hoạt cuộn dọc */
  border: 1px solid #ccc;
  /* Thêm border để dễ nhìn */
  padding: 10px;
  /* Khoảng cách bên trong */
}

.MessagePersonRoomMember1-messagelist-body {
  width: 62%;
  /* display: flex; */
}

.MessagePersonRoomMember-message-list-container {
  width: 100%;
}

.MessagePersonRoomMember-message-list-container {
  height: 400px;
  /* Chiều cao cố định */
  overflow-y: auto;
  /* Kích hoạt cuộn dọc */
  border: 1px solid #ccc;
  /* Thêm border để dễ nhìn */
  padding: 10px;
  /* Khoảng cách bên trong */
}

.MessagePersonRoomMember-message {
  /* width: 100%;
  display: flex; */
}

.MessageListTable-each {
  display: flex;
}

.MessageListTable-2 {
  display: flex;
  flex-direction: column;
}

.MessageListTable-image {
  width: 80px;
  display: flex;
  justify-content: center;
}

.MessageListTable-image img {
  height: 40px;
  border-radius: 50%;
}

.MessageListTable-content {
  background-color: #c3c3c3;
  border-radius: 8px;
  padding: 6px;
}

.MessageListTable-right {
  justify-content: flex-end;
}

.MessageListTable-createdAt {
  color: #8f8f8f;
  font-size: 12px;
}

.RoomMemberTable-person {
  display: flex;
}

.MessagePersonRoomMember-send {
  display: flex;
  /* align-content: center; */
}

.MessagePersonRoomMember-send input {
  width: 90%;
  margin-top: 10px;
}

.MessagePersonRoomMember-send button {
  width: 10%;
  min-width: 100px;
  /* margin: 6px; */
}
