.MessagePersonRoomMember1 {
  display: flex;
}
.MessagePersonRoomMember11 {
  width: 50%;
}
.MessagePersonRoomMember11-roommemberlist {
  height: 500%; /* Chiều cao cố định */
  overflow-y: auto; /* Kích hoạt cuộn dọc */
  border: 1px solid #ccc; /* Thêm border để dễ nhìn */
  padding: 10px; /* Khoảng cách bên trong */
}
.MessagePersonRoomMember1-messagelist-body {
  width: 50%;
  /* display: flex; */
}
.MessagePersonRoomMember-message-list-container {
  width: 100%;
}
.MessagePersonRoomMember-message-list-container {
  height: 400px; /* Chiều cao cố định */
  overflow-y: auto; /* Kích hoạt cuộn dọc */
  border: 1px solid #ccc; /* Thêm border để dễ nhìn */
  padding: 10px; /* Khoảng cách bên trong */
}
.MessagePersonRoomMember-message {
  /* width: 100%;
  display: flex; */
}
