.PostPageView {
  margin-bottom: 150px;
  margin-top: 150px;
}
.PostPageView2 {
  font-size: 40px;
  font-weight: bold;
}
.PostPageView3 {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.PostPageView3 img {
  margin-right: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #828181;
}
.PostPageView3-1 {
  font-size: 40px;
  font-style: italic;
  color: rgb(199, 70, 1);
}
.PostPageView3 img {
  height: 200px;
}
.PostPageViewCenter2 {
  border-top: 1px solid #b5b5b5;
}
