.ParagraphViewEachPostPage1 {
  text-align: center;
}
.ParagraphViewEachPostPage1-cation {
  font-size: 20px;
  font-style: italic;
  color: grey;
  margin-bottom: 20px;
}
.ParagraphViewEachPostPage img {
  width: 60%;
}
.PostPageViewCenter {
}
