.post-card {
  /* font-family: 'EB Garamond', Georgia, serif; */
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.post-card:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.post-card-header {
  display: flex;
  align-items: center;
}
.post-card-header img {
  width: 50%;
  border-radius: 8px;
}
.post-card-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.post-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.post-card-summary {
  margin-top: 8px;
  font-size: 1em;
  color: #555;
}

.post-card-meta {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 0.9em;
  color: #777;
  justify-content: space-between;
}

.post-card-meta-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.post-card-meta-item span {
  margin-left: 4px;
}

.post-card-category {
  font-family: 'Merriweather', serif;
  margin-top: 8px;
  font-size: 0.9em;
  color: #007bff;
}

.post-card-category a {
  text-decoration: none;
  color: #007bff;
}

.post-card-category a:hover {
  text-decoration: underline;
}

.post-card-name {
  /* font-family: 'Merriweather', serif; */
  text-decoration: none;
  color: #000;
}

.post-card-name:hover {
  /* text-decoration: underline; */
}
.post-card-login {
  color: rgb(199, 70, 1);
  font-style: italic;
}
