/* ==========================================================================
Main page styles
========================================================================== */
.home {
  display: flex;
  min-width: 1400px;
  width: 80%;
  margin: 0 auto; /* Căn giữa phần tử */
}
.left {
  width: 80%;
}
.right {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa theo chiều ngang */
}
.login {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
